<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Application</title>
</head>

<body>
    <h1>OCR Application</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form action="/submit" method="post" enctype="multipart/form-data">
        <input type="file" name="image_file" accept=".jpg,.jpeg,.png,.gif,.bmp">
        <input type="submit" value="Upload">
    </form>
    
    {% if prediction %}
    <h2>Extracted Text:</h2>
    <p>{{ prediction }}</p>
    {% endif %}
</body>

</html>
